---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import PageBuilder from "../components/PageBuilder.astro";
import { client } from "../../tina/__generated__/client";

const response = await client.queries.page({ relativePath: "home.md" });
const { data } = response;
---

<Layout>
	<main class="min-h-screen overflow-hidden">
		<PageBuilder blocks={data.page.blocks} />
	</main>
</Layout>
